*,*::before,*::after{
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	background:none;
	background-clip:padding-box;
	border:0;
	border-radius:0;
	box-sizing:border-box;
	font-style:normal;
	font-size:0px;
	font-weight:400;
	list-style:none;
	margin:0;
	outline:0;
	padding:0;
	scrollbar-width:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	text-align:left;
	text-decoration:none;
	text-indent:0;
}
*>*,*::before,*::after{
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	font-style:inherit;
	font-weight:inherit;
}
::-webkit-scrollbar{
	width:0px;
}
::selection{
	background:var(--caret);
	color:var(--primary);
}
body{
	--font:Roboto,Arial,sans-serif;
	--mono:Roboto Mono,Lucida Console,Courier New,monospace;
	--background:#757575;
	--border:#757575;
	--caret:#757575;
	--foreground:#757575;
	--primary:#757575;
	--timing-function:cubic-bezier(.4,0,.2,1);
	background:var(--background);
	color:var(--foreground);
	font-family:var(--font);
	min-height:100vh;
}
body.dark{
	--background:#424242;
	--border:#616161;
	--caret:#fff;
	--foreground:#e0e0e0;
	--primary:#212121;
}
body.light{
	--background:#e0e0e0;
	--border:#bdbdbd;
	--caret:#000;
	--foreground:#212121;
	--primary:#fff;
}
svg{
	fill:currentcolor;
	height:auto;
	width:24px;
}
svg[data-copy]>path{
	transition:opacity .375s var(--timing-function) .375s;
}
svg[data-copy].confirm>path{
	transition-delay:.1s;
}
svg[data-copy]:not(.confirm)>path:last-child,
svg[data-copy].confirm>path:first-child{
	opacity:0;
}
svg.spin{
	animation:spin 1.5s infinite var(--timing-function);
}
[data-title]::after{
	background:var(--foreground);
	border:1px solid var(--border);
	border-radius:2px;
	bottom:-22px;
	color:var(--primary);
	content:attr(data-title);
	font-size:12px;
	line-height:22px;
	opacity:0;
	overflow:hidden;
	padding:0 4px;
	pointer-events:none;
	position:absolute;
	transition:opacity .195s var(--timing-function),max-width 0s .195s;
	max-width:0;
	white-space:nowrap;
	z-index:1;
}
[data-title]:hover::after{
	opacity:1;
	transition:opacity .195s var(--timing-function) .5s;
	max-width:250px;
	z-index:2;
}
#header{
	align-items:center;
	background:var(--primary);
	border-bottom:1px solid var(--border);
	height:51px;
	justify-content:flex-start;
	left:0;
	padding:0 16px;
	right:0;
	top:0;
}
#header [data-title]::after{
	left:50%;
	transform:translatex(-50%);
}
#header>h1{
	font-size:18px;
	line-height:50px;
}
#versions{
	align-self:flex-start;
	background:var(--primary);
	border:1px solid transparent;
	flex-direction:column;
	height:34px;
	margin-left:4px;
	margin-top:8px;
	z-index:3;
}
#versions:focus{
	background:var(--background);
	border-color:var(--border);
	height:100px;
}
#versions>li{
	font-size:16px;
	line-height:32px;
	padding-left:8px;
	order:2;
	transition:background .375s var(--timing-function);
}
#versions>li[data-selected=true]{
	order:1;
}
#versions>li[data-selected=false]:hover{
	background:rgba(0,0,0,.12);
}
#versions>li[data-selected=false]:active,#versions>li[data-selected=false]:focus{
	background:rgba(0,0,0,.24);
}
#versions>li>svg{
	margin-left:4px;
	margin-top:4px;
}
#versions>li[data-selected=false]>svg{
	display:none;
}
#links{
	margin-left:auto;
	z-index:2;
}
#links a{
	margin-left:16px;
}
#tools{
	background:var(--primary);
	border-bottom:1px solid var(--border);
	height:33px;
	left:50%;
	top:50px;
	transform:translatex(-50%);
	z-index:1;
}
#tools::before{
	content:"";
	height:33px;
	left:-16px;
	position:absolute;
	top:0;
	width:16px;
}
body.dark #tools::before{
	background:url('data:image/svg+xml;utf-8,<svg height="33" viewBox="0 0 16 33" width="16" xmlns="http://www.w3.org/2000/svg"><path fill="%23616161" d="M0,0H16V33H15"/><path fill="%23212121" d="M1,0H16V32H16"/></svg>') no-repeat;
}
body.light #tools::before{
	background:url('data:image/svg+xml;utf-8,<svg height="33" viewBox="0 0 16 33" width="16" xmlns="http://www.w3.org/2000/svg"><path fill="%23bdbdbd" d="M0,0H16V33H15"/><path fill="%23fff" d="M1,0H16V32H16"/></svg>') no-repeat;
}
#tools::after{
	content:"";
	height:33px;
	position:absolute;
	right:-16px;
	top:0;
	width:16px;
}
body.dark #tools::after{
	background:url('data:image/svg+xml;utf-8,<svg height="33" viewBox="0 0 16 33" width="16" xmlns="http://www.w3.org/2000/svg"><path fill="%23616161" d="M16,0H0V33H1"/><path fill="%23212121" d="M15,0H0V32H0"/></svg>') no-repeat;
}
body.light #tools::after{
	background:url('data:image/svg+xml;utf-8,<svg height="33" viewBox="0 0 16 33" width="16" xmlns="http://www.w3.org/2000/svg"><path fill="%23bdbdbd" d="M16,0H0V33H1"/><path fill="%23fff" d="M15,0H0V32H0"/></svg>') no-repeat;
}
#tools svg{
	margin:4px 8px;
}
#tools p:first-of-type{
	transform:translatey(-24px);
}
#tools svg#run{
	margin:4px;
	width:72px;
}
#run>circle:first-of-type{
	fill:var(--border);
}
#run>circle:last-of-type,#run>rect{
	fill:var(--primary);
}
#run>path:first-of-type{
	transform:scale(.925);
	transform-origin:50%;
}
#tools>label>svg{
	margin-right:2px;
}
#tools>input{
	background:var(--background);
	caret-color:var(--caret);
	font-family:var(--mono);
	font-size:14px;
	height:22px;
	line-height:22px;
	margin:5px 6px 5px 0;
	padding:0 2px;
	width:40px;
}
#interpreter{
	padding:110px 20px 20px;
	z-index:1;
}
#interpreter [data-title]::after{
	right:0;
}
#interpreter>label,#interpreter>h2,#interpreter>p{
	font-size:14px;
	line-height:24px;
	margin-bottom:2px;
}
#interpreter svg{
	margin-left:8px;
}
#interpreter>textarea{
	background:var(--primary);
	border:1px solid var(--border);
	border-radius:2px;
	caret-color:var(--caret);
	font-family:var(--mono);
	font-size:16px;
	height:30px;
	line-height:20px;
	margin-bottom:20px;
	padding:4px;
	resize:none;
	width:100%;
}
#interpreter>textarea:-moz-read-only{
	border-color:var(--primary);
}
#interpreter>textarea:read-only{
	border-color:var(--primary);
}
#code{
	min-height:170px;
}
#input{
	min-height:90px;
}
#interpreter>textarea#clipboard{
	height:0;
}
#interpreter>p#error{
	font-size:16px;
	margin-top:-12px;
	margin-bottom:20px;
}
#error>svg{
	margin-right:8px;
}
#cache.enabled>path:first-of-type,
#cache:not(.enabled)>path:last-of-type,
#permute.enabled>path:first-of-type,
#permute:not(.enabled)>path:last-of-type{
	display:none;
}
.wip{
	border:1px solid var(--border);
	padding:10px;
}
#docs{
	background:var(--primary);
	border-left:1px solid var(--border);
}
#loading{
	color:var(--border);
	bottom:0;
	left:10px;
	line-height:24px;
}
#menu{
	right:6px;
	top:6px;
	z-index:3;
}
#menu+ol{
	background:var(--background);
	border:1px solid var(--border);
	font-size:14px;
	opacity:0;
	pointer-events:none;
	right:6px;
	top:6px;
	transition:opacity .225s var(--timing-function);
	z-index:4;
}
#menu:focus+ol,#menu+ol:focus{
	opacity:1;
	pointer-events:initial;
	z-index:3;
}
#menu+ol>li{
	line-height:30px;
	padding:0 8px;
	transition:background .375s var(--timing-function);
}
#menu+ol>li:hover{
	background:rgba(0,0,0,.12);
}
#menu+ol>li:active,#menu+ol>li:focus,#menu+ol>li.current{
	background:rgba(0,0,0,.24);
}
#docs>article{
	height:100%;
	overscroll-behavior:contain;
	padding:0 20px 20px;
}
#docs h3{
	background:var(--background);
	font-size:20px;
	line-height:36px;
	margin:0 -20px 20px;
	padding:0 36px 0 0;
	top:0;
}
#docs h3>svg{
	margin:10px 4px;
	opacity:0;
	transition:opacity .375s var(--timing-function);
	width:16px;
}
#docs h3:hover>svg{
	opacity:1;
}
#docs h4{
	font-size:16px;
	margin-bottom:10px;
}
#docs h4:not(:first-child){
	margin-top:15px;
}
#docs h4.method{
	background:var(--background);
	border-radius:2px;
	font-family:var(--mono);
	font-size:14px;
	line-height:24px;
	text-indent:4px;
	margin-bottom:5px;
}
#docs h4[data-version]::after{
	border:1px solid var(--primary);
	border-radius:2px;
	content:"v" attr(data-version);
	display:inline-block;
	font-family:var(--font);
	font-size:11px;
	font-weight:normal;
	line-height:18px;
	float:right;
	margin:2px;
	padding:0 4px;
}
#docs h4>svg{
	margin:2px;
	width:20px;
}
#docs .columns{
	column-gap:10px;
	column-count:2;
}
#docs p{
	font-size:14px;
	line-height:18px;
	margin-bottom:10px;
}
#docs article>ol,
#docs article>ul{
	margin-bottom:5px;
}
#docs article>ol>li,
#docs article>ul>li{
	font-size:14px;
	line-height:20px;
	margin-bottom:5px;
}
#docs table{
	border-collapse:collapse;
	margin-bottom:10px;
	width:100%;
}
#docs th,#docs td{
	border:1px solid var(--border);
	font-size:14px;
	line-height:20px;
	padding:5px;
}
#docs a{
	text-decoration:var(--border) underline;
}
#docs code{
	background:var(--background);
	border-radius:2px;
	font-family:var(--mono);
	font-size:12px;
	line-height:16px;
	margin:0 2px;
	padding:0 4px;
	white-space:pre;
}
#docs table code{
	font-size:14px;
	line-height:18px;
	margin-left:0;
}
#docs span.version{
	border:1px solid var(--border);
	border-radius:2px;
	font-size:11px;
	line-height:16px;
	padding:0 4px;
}
#docs p>svg,#docs li>svg{
	width:18px;
}
#docs-intro ul>li{
	padding-left:10px;
}
#docs-intro ul>li::before{
	content:"•";
	left:0;
	position:absolute;
}
#sort{
	border:1px solid var(--border);
}
#docs>article>ol#sort>li{
	background:var(--primary);
	border:1px solid var(--border);
	line-height:24px;
	margin:-1px;
	padding:6px 4px 6px 0;
	transition:opacity .125s var(--timing-function),transform .125s var(--timing-function);
}
#sort.sorting>li{
	opacity:.6;
}
#sort>li.sorting{
	border:1px solid var(--primary);
	border-radius:2px;
	opacity:1;
	transform:translate(-5px,-5px);
}
#sort span{
	padding:0 4px;
}
#keyboard{
	background:var(--primary);
	border:1px solid var(--border);
	border-bottom:0;
	border-radius:4px 4px 0 0;
	bottom:0;
	left:0;
	overscroll-behavior:contain;
	padding:2px;
	transition:transform .375s var(--timing-function);
	width:calc(100% + 2px);
	max-width:804px;
}
#keyboard>h2{
	left:calc(50% - 36px);
	top:-32px;
	line-height:24px;
	padding:4px 24px;
	width:72px;
}
body.dark>#keyboard>h2{
	background:url('data:image/svg+xml;utf-8,<svg height="32" viewBox="0 0 72 32" width="72" xmlns="http://www.w3.org/2000/svg"><path fill="%23616161" d="M0,32L16,0H56L72,32"/><path fill="%23212121" d="M1,32L17,1H55L71,32"/></svg>') no-repeat;
}
body.light>#keyboard>h2{
	background:url('data:image/svg+xml;utf-8,<svg height="32" viewBox="0 0 72 32" width="72" xmlns="http://www.w3.org/2000/svg"><path fill="%23bdbdbd" d="M0,32L16,0H56L72,32"/><path fill="%23fff" d="M1,32L17,1H55L71,32"/></svg>') no-repeat;
}
#keyboard>h2[data-title]::after{
	left:50%;
	bottom:36px;
	transform:translate(-50%);
}
#keyboard>ol{
	grid-auto-rows:1fr;
	grid-gap:2px;
	grid-template-columns:repeat(auto-fill,minmax(32px,1fr));
}
#keyboard>ol::before {
	content:"";
	grid-column:1/1;
	grid-row:1/1;
	padding-bottom:100%;
	width:0;
}
#keyboard li{
	align-items:center;
	border:1px solid var(--border);
	border-radius:2px;
	font-size:16px;
	justify-content:center;
	transition:background .25s var(--timing-function);
}
#keyboard li:first-child{
	grid-column:1/1;
	grid-row:1/1;
}
#keyboard li:hover{
	background:var(--background);
}
@media(max-width:1204px){
	#keyboard{
		left:50%;
		transform:translatex(-50%) translatey(100%)
	}
	#keyboard[data-open=true]{
		transform:translatex(-50%) translatey(0%)
	}
}
@media(max-width:800px){
	#header{
		z-index:2;
	}
	#docs{
		bottom:0;
		position:fixed;
		right:0;
		top:0;
		transform:translatex(100%);
		transition:transform .375s var(--timing-function);
		width:calc(100% - 32px);
		max-width:400px;
		z-index:3;
	}
	#docs[data-open=true]{
		transform:translatex(0%);
	}
	#docs>h2{
		left:-32px;
		top:calc(50% - 36px);
		line-height:24px;
		padding:24px 4px;
		width:32px;
	}
	body.dark>#docs>h2{
		background:url('data:image/svg+xml;utf-8,<svg height="72" viewBox="0 0 32 72" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="%23616161" d="M32,0L0,16V56L32,72"/><path fill="%23212121" d="M32,1L1,17V55L32,71"/></svg>') no-repeat;
	}
	body.light>#docs>h2{
		background:url('data:image/svg+xml;utf-8,<svg height="72" viewBox="0 0 32 72" width="32" xmlns="http://www.w3.org/2000/svg"><path fill="%23bdbdbd" d="M32,0L0,16V56L32,72"/><path fill="%23fff" d="M32,1L1,17V55L32,71"/></svg>') no-repeat;
	}
	#docs>h2[data-title]::after{
		right:2px;
		bottom:0;
	}
	#keyboard{
		left:0;
		transform:translatey(100%);
		z-index:4;
	}
	#keyboard[data-open=true]{
		transform:translatey(0%)
	}
}
@media(min-width:801px){
	#header{
		z-index:4;
	}
	#tools{
		transform:translatex(-50%) translatex(-200px);
	}
	#interpreter,#docs{
		display:inline-block;
		vertical-align:top;
	}
	#interpreter{
		width:calc(100% - 400px);
	}
	#docs{
		height:calc(100vh - 51px);
		position:sticky;
		top:51px;
		width:400px;
		z-index:2;
	}
	#docs>h2>svg{
		display:none;
	}
	#keyboard{
		z-index:3;
	}
}
@media(min-width:1205px){
	#keyboard{
		left:50%;
		transform:translatex(-50%) translatex(-200px) translatey(100%)
	}
	#keyboard[data-open=true]{
		transform:translatex(-50%) translatex(-200px) translatey(0%)
	}
}
@keyframes spin{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(359deg);
	}
}
.db{display:block;}
.df{display:flex;}
.dg{display:grid;}
.di{display:inline;}
.dib{display:inline-block;}
.dn{display:none;}
.oz{opacity:0;}
.fr{float:right;}
.mz{margin:0!important;}
.vab{vertical-align:bottom;}
.vam{vertical-align:middle;}
.vat{vertical-align:top;}
.oa{overflow:auto;}
.oh{overflow:hidden;}
.toe{text-overflow:ellipsis;}
.pa{position:absolute;}
.pf{position:fixed;}
.pr{position:relative;}
.ps{position:sticky;}
.fwm{font-weight:500;}
.tac{text-align:center;}
.tdu{text-decoration:var(--border) underline;}
.ttc{text-transform:capitalize;}
.ttl{text-transform:lowercase;}
.ttu{text-transform:uppercase;}
.wsnw{white-space:nowrap;}
.ch{cursor:help;}
.cm{cursor:move;}
.cp{cursor:pointer;}
.cw{cursor:wait;}
.pen{pointer-events:none;}